// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.

@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova-Reg.eot');
  src: url('../fonts/ProximaNova-Reg.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-Reg.woff') format('woff'),
  url('../fonts/ProximaNova-Reg.ttf') format('truetype'),
  url('../fonts/ProximaNova-Reg.svg#ProximaNova') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaSemiBold';
  src: url('../fonts/ProximaNova-Sbold.eot');
  src: url('../fonts/ProximaNova-Sbold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-Sbold.woff') format('woff'),
  url('../fonts/ProximaNova-Sbold.ttf') format('truetype'),
  url('../fonts/ProximaNova-Sbold.svg#ProximaNovaSemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BrauerNeue-Regular';
  src: url('../fonts/BrauerNeue-Regular.eot');
  src: url('../fonts/BrauerNeue-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BrauerNeue-Regular.woff') format('woff'),
  url('../fonts/BrauerNeue-Regular.ttf') format('truetype'),
  url('../fonts/BrauerNeue-Regular.svg#BrauerNeue-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ciutadella-Medium';
  src: url('../fonts/Ciutadella-Medium.eot');
  src: url('../fonts/Ciutadella-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Ciutadella-Medium.woff') format('woff'),
  url('../fonts/Ciutadella-Medium.ttf') format('truetype'),
  url('../fonts/Ciutadella-Medium.svg#Ciutadella-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ciutadella-Regular';
  src: url('../fonts/Ciutadella-Regular.eot');
  src: url('../fonts/Ciutadella-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Ciutadella-Regular.woff') format('woff'),
  url('../fonts/Ciutadella-Regular.ttf') format('truetype'),
  url('../fonts/Ciutadella-Regular.svg#Ciutadella-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ciutadella';
  src: url('../fonts/315CA1_3_0.eot');
  src: url('../fonts/315CA1_3_0.eot?#iefix') format('embedded-opentype'),
  url('../fonts/315CA1_1_0.woff') format('woff'),
  url('../fonts/315CA1_1_0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$font-family-bold: "Ciutadella-Medium", "Arial", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif !default;
$headings-font-family: "Ciutadella-Medium";

$color-red-error: rgb(185, 74, 72) !default;
$color-grey-arrow: rgba(204, 204, 204, 0.2) !default;

$width-default: 100% !default; // 3 960px-grid columns

$zindex-select-dropdown: 1060 !default; // must be higher than a modal background (1050)