.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.primary-navigation__level-item {
  list-style-type: none;
}

.primary-navigation a {
  text-decoration: none;
  cursor: pointer;
  display: block;
  color: #000;
}

.primary-navigation__level {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 60em) {
  .nav-is-visible + .primary-navigation > .row {
    transform: translateX(0);
    height: 100%;
    -webkit-overflow-scrolling: touch
  }
  .primary-navigation {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 18rem;
    font-family: Helvetica, Arial, sans-serif;
    overflow: scroll
  }
  .primary-navigation > .row {
    top: 0;
    left: 0;
    min-height: 100%;
    width: 18rem;
    background: #EEE;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: auto;
    will-change: transform;
    transform: translateX(-100%);
    transition: transform .5s;
  }
  .primary-navigation a {
    box-shadow: 0 -1px 0 #fff inset;
    font-size: 1.125rem;
    padding-left: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 3rem;
    color: #fff;
    background: #323232;
    -webkit-transition: -webkit-transform .5s cubic-bezier(0.19, 1, 0.22, 1);
    transition: transform .5s cubic-bezier(0.19, 1, 0.22, 1)
  }
  a.primary-navigation__go-back {
    position: absolute;
    left: 0;
    top: 0;
    width: 3rem;
    padding: 0;
    border-right: solid 1px #fff;
    background: #8de2e0;
    box-shadow: none;
    cursor: pointer
  }
  a.primary-navigation__go-back:before, a.primary-navigation__go-back:after {
    top: 3px;
    left: 3px;
    position: relative;
    content: '';
    display: inline-block;
    height: 2px;
    width: 6px;
    background: #000;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
  }
  a.primary-navigation__go-back:before {
    -webkit-transform: rotate(40deg) translateX(-5px) translateY(-3px);
    -ms-transform: rotate(40deg) translateX(-5px) translateY(-3px);
    transform: rotate(40deg) translateX(-5px) translateY(-3px)
  }
  a.primary-navigation__go-back:after {
    -webkit-transform: rotate(-40deg) translateY(-12px);
    -ms-transform: rotate(-40deg) translateY(-12px);
    transform: rotate(-40deg) translateY(-12px)
  }
  .primary-navigation__level {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 100%;
    width: 100%;
    -webkit-transform: translateX(0) translateZ(0);
    transform: translateX(0) translateZ(0);
    will-change: transform;
    overflow: hidden;
    -webkit-transition: -webkit-transform .5s cubic-bezier(0.19, 1, 0.22, 1);
    transition: transform .5s cubic-bezier(0.19, 1, 0.22, 1)
  }
  .primary-navigation__level--level2, .primary-navigation__level--level3 {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%)
  }
  .primary-navigation__level--moves-out {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    height: 100%
  }
  .primary-navigation__level--moves-out > .primary-navigation__level-item {
    height: 0;
    visibility: hidden
  }
  .primary-navigation__level--moves-out > .primary-navigation__level-item.primary-navigation__level-item--active-parent {
    height: auto;
    visibility: visible
  }
  .primary-navigation__level--moves-out > .primary-navigation__level-item > a {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%)
  }
  .primary-navigation__level--moves-out > .primary-navigation__level-item--section-title {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%)
  }
  .primary-navigation__level--selected {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    overflow-y: visible
  }
  .primary-navigation__mobile-hide {
    display: none
  }
  .primary-navigation__level-item:focus {
    outline: 0
  }
  .primary-navigation__level-item--selected {
    border-left: 5px solid #8de2e0
  }
  .primary-navigation__level-item--has-children > a {
    position: relative;
    padding-right: 1.625rem;
    border-left: 1px solid transparent
  }
  .primary-navigation__level-item--has-children > a:before, .primary-navigation__level-item--has-children > a:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 1rem;
    display: inline-block;
    height: 2px;
    width: 9px;
    -webkit-transform-origin: 8px 50%;
    -ms-transform-origin: 8px 50%;
    transform-origin: 8px 50%;
    background: #fff;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
  }
  .primary-navigation__level-item--has-children > a:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .primary-navigation__level-item--has-children > a:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .primary-navigation__level-item--section-title {
    line-height: 3rem;
    border-bottom: 1px solid white;
    background: #8de2e0;
    font-size: 1.125rem;
    font-weight: bold;
    text-align: center;
    cursor: default;
    position: -webkit-sticky;
    position: sticky;
    z-index: 300;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transition: -webkit-transform .5s cubic-bezier(0.19, 1, 0.22, 1);
    transition: transform .5s cubic-bezier(0.19, 1, 0.22, 1)
  }
  .primary-navigation__level-item--see-all {
    font-weight: bold
  }
  .primary-navigation__promo, .primary-navigation__frequentflyer, .primary-navigation__level--level3 p {
    display: none
  }
}

@media only screen and (min-width: 60em) {
  .primary-navigation {
    position: relative;
    background: #323232;
    z-index: 500;
    top: -.5rem;
    margin-bottom: -.5rem;
  }
  .primary-navigation__user-controls {
    display: none
  }
  .primary-navigation__down-arrow {
    position: absolute;
    top: 50%
  }
  .primary-navigation__down-arrow:before, .primary-navigation__down-arrow:after {
    position: absolute;
    top: 50%;
    width: 6px;
    height: 1px;
    background-color: #fff;
    -webkit-transition: background-color .5s;
    transition: background-color .5s;
    content: '';
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
  }
  .primary-navigation__down-arrow:before {
    right: -16px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .primary-navigation__down-arrow:after {
    right: -20px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .primary-navigation__submenu-wrap {
    background: #FFF;
    color: #000;
    width: 100%;
    padding: 22px 0;
    position: absolute;
    left: -9999px;
    top: 64px;
    border: solid 1px #d2d2d2;
    border-top: 0;
    box-shadow: 2px 4px 5px -4px rgba(0, 0, 0, 0.2);
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    transition: opacity .15s linear;
    z-index: 999
  }
  .primary-navigation__promo, .primary-navigation__frequentflyer {
    display: block;
    float: right;
    width: 25%
  }
  .primary-navigation__promo a, .primary-navigation__promo iframe, .primary-navigation__frequentflyer a, .primary-navigation__frequentflyer iframe {
    display: block;
    margin: 0 25px 0 30px;
    width: 190px;
    float: right
  }
  .primary-navigation__level--level1 {
    display: table;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
  }
  .primary-navigation__level--level1 > li:first-child {
    display: none
  }
  .primary-navigation__level--level1 > .primary-navigation__level-item {
    display: table-cell;
    width: auto
  }
  .primary-navigation__level--level1 > .primary-navigation__level-item > a {
    color: #FFF;
    font-size: 1.125rem;
    line-height: 63px !important;
    border-top: solid 1px transparent;
    display: block;
    text-align: center;
    padding: 0 2rem 0 1rem;
    background-color: transparent;
    -webkit-transition: all .2s ease 0;
    transition: all .2s ease 0
  }
  .primary-navigation__level--level1 > .primary-navigation__level-item > a:hover {
    color: #e00
  }
  .primary-navigation__level--level1 > .primary-navigation__level-item.primary-navigation__level-item--active-menu > a {
    color: #323232;
    background-color: #FFF;
    border-top-color: #d2d2d2
  }
  .primary-navigation__level--level1 > .primary-navigation__level-item.primary-navigation__level-item--active-menu > a:hover {
    color: #e00
  }
  .primary-navigation__level--level1 > .primary-navigation__level-item.primary-navigation__level-item--active-menu > a:hover .primary-navigation__down-arrow:before, .primary-navigation__level--level1 > .primary-navigation__level-item.primary-navigation__level-item--active-menu > a:hover .primary-navigation__down-arrow:after {
    background-color: #e00
  }
  .primary-navigation__level--level1 > .primary-navigation__level-item.primary-navigation__level-item--active-menu > a .primary-navigation__down-arrow:before, .primary-navigation__level--level1 > .primary-navigation__level-item.primary-navigation__level-item--active-menu > a .primary-navigation__down-arrow:after {
    background-color: #323232
  }
  .primary-navigation__level--level1 > .primary-navigation__level-item.primary-navigation__level-item--active-menu .primary-navigation__submenu-wrap {
    left: 0;
    opacity: 1
  }
  .primary-navigation__level--level2 {
    float: left;
    width: 75%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
  }
  .primary-navigation__level--level2 > .primary-navigation__level-item {
    float: left;
    width: 33%;
    padding-left: 30px;
    margin-bottom: 1.75rem
  }
  .primary-navigation__level--level2 > .primary-navigation__level-item > a {
    color: #323232;
    padding: 0 25px 10px 0;
    border-bottom: solid 1px #e9e9e9;
    margin-bottom: .5rem;
    position: relative;
    font-size: 1.125rem
  }
  .primary-navigation__level--level2 > .primary-navigation__level-item > a:hover {
    color: #e00
  }
  .primary-navigation__level--level2 > .primary-navigation__level-item > a:hover:before, .primary-navigation__level--level2 > .primary-navigation__level-item > a:hover:after {
    background-color: #e00
  }
  .primary-navigation__level--level2 > .primary-navigation__level-item > a:before, .primary-navigation__level--level2 > .primary-navigation__level-item > a:after {
    position: absolute;
    right: .75rem;
    width: 6px;
    height: 1px;
    background-color: black;
    -webkit-transition: background-color .5s;
    transition: background-color .5s;
    content: ''
  }
  .primary-navigation__level--level2 > .primary-navigation__level-item > a:before {
    top: 11px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .primary-navigation__level--level2 > .primary-navigation__level-item > a:after {
    top: 15px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  //.primary-navigation__level--level3 {
  //  font-family: Helvetica, Arial, sans-serif
  //}
  //.fonts-loaded .primary-navigation__level--level3 {
  //  font-family: "Ciutadella", Helvetica, Arial, sans-serif
  //}
  .primary-navigation__level--level3 a {
    font-size: 1rem;
    color: #666
  }
  .primary-navigation__level--level3 a:hover {
    color: #e00
  }
  .primary-navigation__level--level3 p {
    color: #666;
    font-size: 1rem
  }
  .primary-navigation__level--level3 p a {
    display: inline;
    text-decoration: underline
  }
  .primary-navigation__level--level3 .primary-navigation__level-item {
    display: none
  }
  .primary-navigation__level--level3 .primary-navigation__level-item--show-desktop {
    display: list-item
  }
  .primary-navigation__level-item--section-title, .primary-navigation__level-item--see-all {
    display: none
  }
  #primary-navigation__frequent-flyer .primary-navigation__promo {
    display: none
  }
  #primary-navigation__frequent-flyer .primary-navigation__promo.frequent-flyer__loggedin {
    display: block
  }
  #primary-navigation__frequent-flyer .primary-navigation__frequentflyer {
    display: block
  }
  #primary-navigation__frequent-flyer .primary-navigation__frequentflyer.frequent-flyer__loggedin {
    display: none
  }
  .no-js .primary-navigation__level--level1 > .primary-navigation__level-item > a:hover {
    color: #e00;
    background-color: #fff;
    border-top-color: #dadada
  }
  .no-js .primary-navigation__level--level1 > .primary-navigation__level-item > a:hover + .primary-navigation__submenu-wrap {
    left: 0;
    opacity: 1
  }
  .no-js .primary-navigation__submenu-wrap:hover {
    left: 0;
    opacity: 1
  }
  .no-flexbox .primary-navigation__level--level2 .primary-navigation__level-item:nth-child(3n+6) {
    clear: left
  }

}
