// Content panel
.content-panel {
  background-image: url("../img/shape-bg@2x.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 714px 538px;
  max-width: 820px;
  border-radius: 6px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  border: none;
}

.q-money-main-content {
  min-height: 100vh;
  height: 100%;
}

@include media-breakpoint-up(md) {
  .content-panel {
    padding: 3rem 3.5rem 2.5rem 3.5rem;
  }
}

@include media-breakpoint-down(sm) {
  .content-panel {
    padding: 1rem;
    min-width: 100%;
    border-radius: 0px;
    box-shadow: none;
    background-image: none;
    background: transparent;
  }
}

// Main content area
.q-money-main-content {
  margin-right: 0;
  transition: margin 0.4s;
  background: #F4F5F6;
  padding: 1.5rem 3rem 2rem 3rem;
}

@include media-breakpoint-up(md) {
  .q-money-main-content {
    margin-left: 300px;
    margin-top: 4.375rem;
  }
}

@include media-breakpoint-down(sm) {
  .q-money-main-content {
    margin-top: 3.75rem;
    padding-left: 0;
    padding-right: 0;
    padding-top: 1rem;
    background-image: url("../img/shape-bg@2x.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 714px 538px;
    background-color: $white;
    background-attachment: fixed;
  }
}


