extends shared/master.pug

block pageContent

    - var authorised = false
    .styleguide
        .clearfix
            include shared/menu.pug
        header.header
            button.hamburger.js-toggleMenu
                span.cheese
                span.patty
                span.salad
            h1.header-headline Qantas Web Component Library
        main.main-content.bg-faded(role='main')
            .container-fluid
                include shared/colours.pug
                include shared/icons.pug
                include shared/font.pug
                include shared/grid.pug
                include shared/typography.pug
                include shared/links.pug
                include shared/buttons.pug
                include shared/forms.pug
                include shared/alerts.pug
                include shared/modal.pug
                include shared/accordion.pug
                include shared/tabs.pug
                include shared/cards.pug
                include shared/step-navigation.pug
                include shared/q-money-header-example.pug
                include shared/need-help-callout-example.pug
                include shared/page-actions-example.pug
                include shared/content-panel.pug
                include shared/checking-information-benefits.pug
                include shared/spinner.pug
                include shared/tables.pug
                include shared/content-elements.pug


































