extends shared/master.pug

block pageContent

    include shared/region-selector.pug
    include shared/global-header.pug
    include shared/global-navigation.pug
    include shared/login-menu.pug
    #main.main(role="main", tabindex="-1")
        include shared/home-carousel.pug
        include shared/home-search.pug





    include shared/footer



