
h1#buttons.category-head Buttons

section.row
    article.col-sm-4
        .row
            .col-xs-12.col-sm-10
                h4.no-top-margin-xs Form action button
    article.col-sm-8
        div
            .code-source-wrapper
                .module
                    .col-sm-6.m-b-1
                        a.btn.btn-primary.btn-block(href='#') Default
                    .col-sm-6.m-b-1
                        a.btn.btn-primary.active.btn-block(href='#') Active
                    .col-sm-6.m-b-1
                        a.btn.btn-primary.disabled.btn-block(href='#') Disabled
                    p.col-sm-12.m-b-0.text-muted Font size 16px | Line height 20px | letter spacing 1.5px

section.row
    article.col-sm-4
        .row
            .col-xs-12.col-sm-10
                h4.no-top-margin-xs General action button
    article.col-sm-8
        div
            .code-source-wrapper
                .module
                    .col-sm-6.m-b-1
                        a.btn.btn-outline-primary.btn-block(href='#') Default
                    .col-sm-6.m-b-1
                        a.btn.btn-outline-primary.active.btn-block(href='#') Active
                    .col-sm-6.m-b-1
                        a.btn.btn-outline-primary.disabled.btn-block(href='#') Disabled
                    p.col-sm-12.m-b-0.text-muted Font size 16px | Line height 20px | letter spacing 1.5px

section.row
    article.col-sm-4
        .row
            .col-xs-12.col-sm-10
                h4.no-top-margin-xs Card action button
    article.col-sm-8
        div
            .code-source-wrapper

                .module.module-raised
                    .row
                        .col-sm-6
                            .card
                                .card-block
                                .card-footer
                                    a.btn.btn-link.btn-block(href='#') Card action
                        .col-sm-6
                            .card
                                .card-block
                                .card-footer
                                    a.btn.btn-link.btn-block.btn-terms-condition(href='#') Terms & condition action
section.row
    article.col-sm-4
        .row
            .col-xs-12.col-sm-10
                h4.no-top-margin-xs Link group
    article.col-sm-8
        div
            .code-source-wrapper

                .module.module-raised
                    .row
                        .col-sm-6
                            .list-group
                                a.list-group-item.list-group-item-action(href='#') Dapibus ac facilisis in
                                a.list-group-item.list-group-item-action(href='#') Morbi leo risus
                        .col-sm-6
                            .list-group
                                a.list-group-item.list-group-item-action(href='#') Dapibus ac facilisis in
                                a.list-group-item.list-group-item-action(href='#') Morbi leo risus
section.row
    article.col-sm-4
        .row
            .col-xs-12.col-sm-10
                h4.no-top-margin-xs Button group
    article.col-sm-8
        div
            .code-source-wrapper
                .module

                    .col-sm-6.m-b-1
                        //a.btn.btn-outline-primary.btn-block(href='#') Default

                        .btn-group(role='group', aria-label='Basic example')
                            button.btn.btn-secondary(type='button') Item 1
                            button.btn.btn-secondary(type='button') Item 2
                            button.btn.btn-secondary(type='button') Item 3

section.row
    article.col-sm-4
        .row
            .col-xs-12.col-sm-10
                h4.no-top-margin-xs File browser
    article.col-sm-8
        div
            .code-source-wrapper
                .module

                    .col-sm-6.m-b-1

                        label.custom-file
                            input#file.custom-file-input(type='file')
                            span.custom-file-control
section.row
    article.col-sm-4
        .row
            .col-xs-12.col-sm-10
                h4.no-top-margin-xs Add / Remove buttons
    article.col-sm-8
        div
            .code-source-wrapper
                .module
                    .col-sm-6.m-b-1
                        button.btn.btn-add.btn-outline-success.btn-sm(type='button')
                            i.icon-add-circle
                            | Add
                    .col-sm-6.m-b-1
                        button.btn.btn-remove.btn-outline-primary.btn-sm(type='button')
                            i.icon-remove-circle
                            | Remove
section.row
    article.col-sm-4
        .row
            .col-xs-12.col-sm-10
                h4.no-top-margin-xs Button with spinner
    article.col-sm-8
        div
            .code-source-wrapper
                .module
                    .col-sm-6
                        a.btn.btn-primary.btn-block(href='#')
                            span.label
                                | Default
                            .spinner-wrapper
                                .spinner.spinner-light


