h1#cards.category-head Cards
section.row
    article.col-sm-4
        .row
            .col-xs-12.col-sm-10
                h4.no-top-margin-xs Basic example
                p.elegant.top-margin3-xs
                    //| Cards require a small amount of markup and classes to provide you with as much control as possible. These classes and markup are flexible though and can typically be remixed and extended with ease. For example, if your card has no flush content like images, feel free to put the .card-block class on the .card element to consolidate your markup.
    article.col-sm-8
        div
            .code-source-wrapper
                .module.bd-example
                    .card
                        img.card-img-top(src='img/thumb-card.svg', alt='Card image cap')
                        .card-block
                            h2.card-title Card title
                        .card-footer
                            a.btn.btn-link.btn-block(href='#') Card action
                        //.card-footer
                        //    a.btn.btn-link.btn-block(href='#') Card action
section.row
    article.col-sm-4
        .row
            .col-xs-12.col-sm-10
                h4.no-top-margin-xs Content options
                p.elegant.top-margin3-xs
                    //| Cards require a small amount of markup and classes to provide you with as much control as possible. These classes and markup are flexible though and can typically be remixed and extended with ease. For example, if your card has no flush content like images, feel free to put the .card-block class on the .card element to consolidate your markup.
    article.col-sm-8
        div
            .code-source-wrapper
               .module.bd-example
                    .card
                        .callout-badge Call out
                        img.card-img-top(src='img/thumb-card.svg', alt='Card image cap')
                        .card-block
                            h2.card-title Card title
                            p.card-text
                                | Some quick example text to build on the card title and make up the bulk of the cards content.
                            .price-lockup
                                .markdown
                                    | was
                                    s 37,850
                                .price
                                    sup pts
                                    | 32,170
                                .add-on avg. per bottle
                                .add-on $250 per case of 6 or 25,000 points

                        .card-footer
                            a.btn.btn-link.btn-block(href='#') Card action
                        .card-footer
                            a.btn.btn-link.btn-block.btn-terms-condition(href='#') Terms Condtions


