h1#checkingInfoBenefits.category-head Checking information benefits

section.row
    article.col-xs-12
        .checking-information-benefits.row.m-t-3.m-b-3
            .col-xs-12.col-md-4.checking-information-benefits--item.text-xs-center
                .card.card-inverse.card-primary.checking-information-benefits--symbol-1.d-flex.flex-items-xs-center.flex-items-xs-middle
                    i.icon-qantas-points
                strong Earn 50,000 bonus Qantas Points
            .col-xs-12.col-md-4.checking-information-benefits--item.text-xs-center
                .card.card-inverse.card-primary.checking-information-benefits--symbol-2.d-flex.flex-items-xs-center.flex-items-xs-middle
                    | $
                strong Receive Qantas lounge passes
            .col-xs-12.col-md-4.checking-information-benefits--item.text-xs-center
                .card.card-inverse.card-primary.checking-information-benefits--symbol-3.d-flex.flex-items-xs-center.flex-items-xs-middle
                    | 0%
                strong Pay 0% p.a. on balance transfers for 14 months