h1#contentElements.category-head Content Elements
section.row
    article.col-sm-3
        .row
            .col-xs-12.col-sm-10
                h4.no-top-margin-xs Benefit widget
    article.col-sm-9
        div
            .code-source-wrapper
                .module.p-a-3
                    .col-sm-12
                        .benefit
                            p
                                | Get the
                                | &nbsp;
                                a(href='http://www.qantas.com/au/en/flight-deals.html/all/au/economy/all/lowest') latest specials
                                | &nbsp;
                                | and
                                | &nbsp;
                                a(href='http://www.qantas.com/au/en/promotions.html') great offers
                                | &nbsp;
                                | from Qantas
section.row
    article.col-sm-3
        .row
            .col-xs-12.col-sm-10
                h4.no-top-margin-xs Signup widget
    article.col-sm-9
        div
            .code-source-wrapper
                .module.p-a-3
                    .col-sm-12.text-xs-center
                        .icon-holder.icon-holder-lg.btn.btn-primary.m-x-auto
                            i.icon-mail
                        h3.m-t-2.m-b-2 Red Email
                        p.text-xs-center With Red Email you can get the latest flights, hotels and cruise specials straight to your inbox.
                        a.btn.btn-outline-primary.btn-block(href='#').m-x-auto.col-sm-3 Subscribe
section.row
    article.col-sm-3
        .row
            .col-xs-12.col-sm-10
                h4.no-top-margin-xs Cross sell
    article.col-sm-9
        div
            .code-source-wrapper
                .module
                    .row
                        .col-xs-12.col-sm-4
                            .text-and-image.text-and-image--above
                                a.text-and-image__link(href='/au/en/book-a-trip/hotels-and-airbnb.html') Hotels and Airbnb
                                picture
                                    source(srcset='img/promobanner.desktop-lg.jpg', media='(min-width: 48em)')
                                    source(srcset='img/promobanner.tablet-small.jpg', media='(min-width: 37.5em)')
                                    source(srcset='img/promobanner.mobile.jpg', media='(min-width: 25em)')
                                    img(srcset='img/promobanner.mobile-small.jpg', alt='')
                                .text-and-image__text
                                    h2 Hotels and Airbnb
                        .col-xs-12.col-sm-4
                            .text-and-image.text-and-image--above
                                a.text-and-image__link(href='/au/en/book-a-trip/hotels-and-airbnb.html') Hotels and Airbnb
                                picture
                                    source(srcset='img/promobanner.desktop-lg.jpg', media='(min-width: 48em)')
                                    source(srcset='img/promobanner.tablet-small.jpg', media='(min-width: 37.5em)')
                                    source(srcset='img/promobanner.mobile.jpg', media='(min-width: 25em)')
                                    img(srcset='img/promobanner.mobile-small.jpg', alt='')
                                .text-and-image__text
                                    h2 Hotels and Airbnb
                        .col-xs-12.col-sm-4
                            .text-and-image.text-and-image--above
                                a.text-and-image__link(href='/au/en/book-a-trip/hotels-and-airbnb.html') Hotels and Airbnb
                                picture
                                    source(srcset='img/promobanner.desktop-lg.jpg', media='(min-width: 48em)')
                                    source(srcset='img/promobanner.tablet-small.jpg', media='(min-width: 37.5em)')
                                    source(srcset='img/promobanner.mobile.jpg', media='(min-width: 25em)')
                                    img(srcset='img/promobanner.mobile-small.jpg', alt='')
                                .text-and-image__text
                                    h2 Hotels and Airbnb
section.row
    article.col-sm-3
        .row
            .col-xs-12.col-sm-10
                h4.no-top-margin-xs Article - 12 columns
    article.col-sm-9
        div
            .code-source-wrapper
                .module
                    .row.article-layout
                        .col-xs-12.col-sm-6
                            .article-img-overlay
                                a.article-img-link(href='http://www.qantas.com/au/en/destinations/asia/indonesia/bali.html?int_cam=au:en:article:featured-destination-bali-feb17:en:nn') Explore Bali
                                .article-ribbon
                                    span
                                        | Featured destination
                                        span
                                picture
                                    source(srcset='img/article.mobile.jpg', media='(min-width: 48em)')
                                    source(srcset='img/article.tablet.small.jpg', media='(min-width: 37.5em)')
                                    img(srcset='img/article.mobile.jpg', alt='Bali sunset')
                        .col-xs-12.col-sm-6
                            .article-content
                                h3 Bali, Indonesia
                                p
                                    | With close proximity to Australia, Bali has always been a favourite for Australian travellers. Situated on a small island, Bali is known for its volcanic mountains, iconic rice paddies, beaches and coral reefs. &nbsp;
                                    br
                                p
                                    | Enjoy spectacular cliff top resorts and sophisticated eateries in Uluwatu and Seminyak, while Bali beaches like Kuta and Legian stay true to their promise of unbeatable value. Outside of the main area&apos;s, discover quiet fishing villages and lush mountain villages surrounded by rice paddies.
                                a.link.link-internal(href='#') Explore Bali
                                    i.icon-arrow-right
section.row
    article.col-sm-3
        .row
            .col-xs-12.col-sm-10
                h4.no-top-margin-xs Article - 3 columns
    article.col-sm-9
        div
            .code-source-wrapper
                .module
                    .row.article-layout
                        .col-xs-12.col-sm-4
                            .row
                                .col-xs-12
                                    .article-img-overlay
                                        a.article-img-link(href='http://www.qantas.com/au/en/destinations/asia/indonesia/bali.html?int_cam=au:en:article:featured-destination-bali-feb17:en:nn') Explore Bali
                                        picture
                                            source(srcset='img/article.mobile.jpg', media='(min-width: 48em)')
                                            source(srcset='img/article.tablet.small.jpg', media='(min-width: 37.5em)')
                                            img(srcset='img/article.mobile.jpg', alt='Bali sunset')
                                .col-xs-12
                                    .article-content
                                        h3 Hit the road and explore Australia
                                        p Drive away with our latest car hire offers. Enjoy upgrades, double points, free days and more with Budget, Hertz, Thrifty and Avis.
                                        a.link.link-internal(href='#') View car hire specials
                                            i.icon-arrow-right
                        .col-xs-12.col-sm-4
                            .row
                                .col-xs-12
                                    .article-img-overlay
                                        a.article-img-link(href='http://www.qantas.com/au/en/destinations/asia/indonesia/bali.html?int_cam=au:en:article:featured-destination-bali-feb17:en:nn') Explore Bali
                                        picture
                                            source(srcset='img/article.mobile.jpg', media='(min-width: 48em)')
                                            source(srcset='img/article.tablet.small.jpg', media='(min-width: 37.5em)')
                                            img(srcset='img/article.mobile.jpg', alt='Bali sunset')
                                .col-xs-12
                                    .article-content
                                        h3 Hit the road and explore Australia
                                        p Drive away with our latest car hire offers. Enjoy upgrades, double points, free days and more with Budget, Hertz, Thrifty and Avis.
                                        a.link.link-internal(href='#') View car hire specials
                                            i.icon-arrow-right
                        .col-xs-12.col-sm-4
                            .row
                                .col-xs-12
                                    .article-img-overlay
                                        a.article-img-link(href='http://www.qantas.com/au/en/destinations/asia/indonesia/bali.html?int_cam=au:en:article:featured-destination-bali-feb17:en:nn') Explore Bali
                                        picture
                                            source(srcset='img/article.mobile.jpg', media='(min-width: 48em)')
                                            source(srcset='img/article.tablet.small.jpg', media='(min-width: 37.5em)')
                                            img(srcset='img/article.mobile.jpg', alt='Bali sunset')
                                .col-xs-12
                                    .article-content
                                        h3 Hit the road and explore Australia
                                        p Drive away with our latest car hire offers. Enjoy upgrades, double points, free days and more with Budget, Hertz, Thrifty and Avis.
                                        a.link.link-internal(href='#') View car hire specials
                                            i.icon-arrow-right
