h1#Fonts.category-head Fonts

section.row
    article.col-sm-4
        .row
            .col-xs-12.col-sm-10
                h4.no-top-margin-xs.strong Typography - Typeface
                p Use Ciutadella Regular as the primary typeface for headings, subheadings,body copy and T&Cs.
                p As Ciutadella is available in a digital format, it is also our primary typeface in digital applications. This will help encourage a cohesive experience across all touchpoints.
                p Use Ciutadella Medium for retail pricepoints in print and digital advertising.
                h5.m-t-2.strong Correct usage
                p The headline must be set in sentence case. Do not typeset headline in all caps, or use any italic versions of Ciutadella. International digital font – Note: The font Noto Sans CJK TC Regular is used for Chinese copy in digital applications.
                p The font Noto Sans CJK JP Regular is used for Japanese copy in digital applications.
                h5.m-t-2.strong Typeface license
                p We have bought the Typeface license for all Qantas verticles to use across web an digital applications

    article.col-sm-8
        div
            .code-source-wrapper
                .module
                    h4.strong
                        | Ciutadella Regular -
                        br
                        | Headings, subheadings, body copy and T&Cs
                    hr
                    h1
                        | AaBbCcDd
                        br
                        | 0123456789
                    h3
                        | ABCDEFGHIJKLMNOPQRSTUVWXYZ
                        br
                        | abcdefghijklmnopqrstuvwxyz
                        br
                        | 0123456789!@#$%&*()_+
                    h4.strong.m-t-3
                        | Ciutadella Medium -
                        br
                        | Price points and destinations only (Retail advertising)
                    hr
                    h1.strong
                        | AaBbCcDd
                        br
                        | 0123456789
                    h3.strong
                        | ABCDEFGHIJKLMNOPQRSTUVWXYZ
                        br
                        | abcdefghijklmnopqrstuvwxyz
                        br
                        | 0123456789!@#$%&*()_+







