footer.global-footer

  // Footer nav

  nav.footer-menu
    .container
      .row
        .col-xs-12
          ul.nav.footer-navigation
            li(role='menuitem')
              a.btn(href='/') Our company                     
            li(role='menuitem')
              a.btn(href='/') Newsroom                     
            li(role='menuitem')
              a.btn(href='/') Careers                       
            li(role='menuitem')
              a.btn(href='/') Our airline partners                     
            li(role='menuitem')
              a.btn(href='/') Our fleet                   
            li(role='menuitem')
              a.btn(href='/') Environment                   
            li(role='menuitem')
              a.btn(href='/') Investors              
            li(role='menuitem')
              a.btn(href='/') Qantas sites 
                i.icon-chevron-up

  // Social

  .container
    .row.m-t-2
      .col-xs-6
        nav.social-links
          strong Follow us                    
          a.icon-holder.icon-holder-inverse.icon-holder-lg(href='')
            i.icon-facebook

          a.icon-holder.icon-holder-inverse.icon-holder-lg(href='')
            i.icon-twitter

          a.icon-holder.icon-holder-inverse.icon-holder-lg(href='')
            i.icon-linkedin

          a.icon-holder.icon-holder-inverse.icon-holder-lg(href='')
            i.icon-youtube

          a.icon-holder.icon-holder-inverse.icon-holder-lg(href='')
            i.icon-instagram

          a.icon-holder.icon-holder-inverse.icon-holder-lg(href='')
            i.icon-googleplus

      .col-xs-3.col-xs-push-3
        a.btn.btn-block.btn-secondary(href='') Website feedback

  // Footer links

  .container
    .row.m-t-2
      .col-xs-7
        nav.footer-links
          a(href='') Site Map
          |                     
          a(href='') Privacy &amp; Security
          |                     
          a(href='') Terms of Use
          |                     
          a(href='') Viewing Tips
          |                     
          a.footer-accessibility.text-hide(href='')
            | eSSENTIAL Accessibility 
            sup TM

      .col-xs-5
        p.footer-copyright.text-xs-right &copy; Qantas Airways Limited ABN 16 009 661 901