h1#Grid.category-head Grid
section.row
    .col-xs-12.grid-example
        .row
            .col-sm-12.col-xs-12
                p.lead Using a 12 column fluid grid allows us to use media queries to set breakpoints for any viewport. Columns can use different spans, be offset or hidden depending on the size of the viewport
                p.text-muted To help visualise the grid we have added alternating fill colour to the columns. This highlights the left and right padding. Normally columns would not have a fill colour.
        .row
            .col-sm-12.col-xs-12
                p
                    | 12 columns on all viewports
                    code.classes col-xs-1
                .row
                    .col-xs-1
                        .well 1
                    .col-xs-1
                        .well 2
                    .col-xs-1
                        .well 3
                    .col-xs-1
                        .well 4
                    .col-xs-1
                        .well 5
                    .col-xs-1
                        .well 6
                    .col-xs-1
                        .well 7
                    .col-xs-1
                        .well 8
                    .col-xs-1
                        .well 9
                    .col-xs-1
                        .well 10
                    .col-xs-1
                        .well 11
                    .col-xs-1
                        .well 12
                hr
                p
                    | 3 columns on all viewports
                    code.classes col-xs-4
                .row
                    .col-xs-4
                        .well 1
                    .col-xs-4
                        .well 2
                    .col-xs-4
                        .well 3
                hr
                p
                    | 12 columns on small viewports and up. Stack columns on extra small
                    code.classes col-sm-1
                .row
                    .col-sm-1
                        .well 1
                    .col-sm-1
                        .well 2
                    .col-sm-1
                        .well 3
                    .col-sm-1
                        .well 4
                    .col-sm-1
                        .well 5
                    .col-sm-1
                        .well 6
                    .col-sm-1
                        .well 7
                    .col-sm-1
                        .well 8
                    .col-sm-1
                        .well 9
                    .col-sm-1
                        .well 10
                    .col-sm-1
                        .well 11
                    .col-sm-1
                        .well 12
                hr
                p
                    | Two column layout on medium and large viewports: First column spans 8
                    code.classes col-md-8
                    |  Second column spans 4
                    code.classes col-md-4
                    |  Stack both columns on small and extra small viewports
                .row
                    .col-md-8
                        .well 1
                    .col-md-4
                        .well 2
                hr
                p
                    | Stack the columns on extra small viewports
                    code.classes col-xs-12
                    |  but on small, medium and large viewports make the first column span 3
                    code.classes col-sm-3
                    |  and the second column span 9
                    code.classes col-sm-9
                .row
                    .col-xs-12.col-sm-3
                        .well 1
                    .col-xs-12.col-sm-9
                        .well 2
                hr
                p offset this column by 1 column on all viewports
                .row
                    .col-xs-11.offset-sm-1
                        .well 1