#carousel-home.carousel.slide(data-ride='carousel', data-interval='2500')
    ol.carousel-indicators
        li.active(data-target='#carousel-home', data-slide-to='0')
        li(data-target='#carousel-home', data-slide-to='1')
        li(data-target='#carousel-home', data-slide-to='2')
    .carousel-inner(role='listbox')
        .carousel-item.active
            .homepage-promotion
                .homepage-promotion__image-wrap
                    picture
                        source(srcset='http://www.qantas.com.au/images/qantas/destinations/australia/bondi-girls/jpg/homepagepromotion.desktop.jpg', media='(min-width: 60em)')
                        source(srcset='http://www.qantas.com.au/images/qantas/destinations/australia/bondi-girls/jpg/homepagepromotion.tablet.jpg', media='(min-width: 48em)')
                        img(srcset='http://www.qantas.com.au/images/qantas/destinations/australia/bondi-girls/jpg/homepagepromotion.mobile.jpg', alt='Girls at bondi beach')
                .homepage-promotion__content-wrap.homepage-promotion__content--bg-3price
                    .homepage-promotion__content
                        .homepage-promotion__content-inner-wrap
                            h2
                                a(href='http://www.qantas.com/au/en/flight-deals.html/any/au/economy/all/sales?int_cam=au:en:homepage-promotion:globalsale-domestic-feb19-12484:en:nn') Australia-wide Sale
                            p Rewards your business from the first flight and more.
                            a.homepage-promotion__button(href='http://www.qantas.com/au/en/flight-deals.html/any/au/economy/all/sales?int_cam=au:en:homepage-promotion:globalsale-domestic-feb19-12484:en:nn') View flights
                    .homepage-promotion__disclaimer
                        p
                            | *Prices based on payment at qantas.com by BPAY or POLi. Sale ends 23:59 (AEDT) 9 February 2017, unless sold out prior.
        .carousel-item
            .homepage-promotion
                .homepage-promotion__image-wrap
                    picture
                        source(srcset='http://www.qantas.com.au/images/qantas/destinations/australia/Kakadu-TOP%20END/jpg/homepagepromotion.desktop.jpg', media='(min-width: 60em)')
                        source(srcset='http://www.qantas.com.au/images/qantas/destinations/australia/Kakadu-TOP%20END/jpg/homepagepromotion.tablet.jpg', media='(min-width: 48em)')
                        img(srcset='http://www.qantas.com.au/images/qantas/destinations/australia/Kakadu-TOP%20END/jpg/homepagepromotion.mobile.jpg', alt='Kakadu, NT')
                .homepage-promotion__content-wrap.homepage-promotion__content--bg-3price
                    .homepage-promotion__content
                        .homepage-promotion__content-inner-wrap
                            h2
                                a(href='http://www.qantas.com/au/en/flight-deals.html/any/au/economy/all/sales?int_cam=au:en:homepage-promotion:globalsale-domestic-feb19-12484:en:nn') Australia-wide Sale
                            p Rewards your business from the first flight and more.
                            a.homepage-promotion__button(href='http://www.qantas.com/au/en/flight-deals.html/any/au/economy/all/sales?int_cam=au:en:homepage-promotion:globalsale-domestic-feb19-12484:en:nn') View flights
                    .homepage-promotion__disclaimer
                        p
                            | *Prices based on payment at qantas.com by BPAY or POLi. Sale ends 23:59 (AEDT) 9 February 2017, unless sold out prior.
        .carousel-item
            .homepage-promotion
                .homepage-promotion__image-wrap
                    picture
                        source(srcset='http://www.qantas.com.au/images/qantas/merchandising/loyalty/qantas-business-rewards-botanica/jpg/homepagepromotion.desktop.jpg', media='(min-width: 60em)')
                        source(srcset='http://www.qantas.com.au/images/qantas/merchandising/loyalty/qantas-business-rewards-botanica/jpg/homepagepromotion.tablet.jpg', media='(min-width: 48em)')
                        img(srcset='http://www.qantas.com.au/images/qantas/merchandising/loyalty/qantas-business-rewards-botanica/jpg/homepagepromotion.mobile.jpg', alt='Business people')
                .homepage-promotion__content-wrap.homepage-promotion__content--bg-3price
                    .homepage-promotion__content
                        .homepage-promotion__content-inner-wrap
                            h2
                                a(href='http://www.qantas.com/au/en/flight-deals.html/any/au/economy/all/sales?int_cam=au:en:homepage-promotion:globalsale-domestic-feb19-12484:en:nn') Australia-wide Sale
                            p Rewards your business from the first flight and more.
                            a.homepage-promotion__button(href='http://www.qantas.com/au/en/flight-deals.html/any/au/economy/all/sales?int_cam=au:en:homepage-promotion:globalsale-domestic-feb19-12484:en:nn') View flights
                    .homepage-promotion__disclaimer
                        p
                            | *Prices based on payment at qantas.com by BPAY or POLi. Sale ends 23:59 (AEDT) 9 February 2017, unless sold out prior.