h1#Icons.category-head Icons

section.row
    article.col-sm-4
        .row
            .col-xs-12.col-sm-10
                h4.no-top-margin-xs Icon set
    article.col-sm-8
        div
            .code-source-wrapper
                .module
                    ul.icons-reference.row
                        li.col-sm-3
                            .icon-placeholder
                                i.icon-add-circle
                            input.form-input.form-control(type='text', placeholder=".icon-add-circle", readonly)
                        li.col-sm-3
                            .icon-placeholder
                                i.icon-calendar
                            input.form-input.form-control(type='text', placeholder=".icon-calendar", readonly)
                        li.col-sm-3
                            .icon-placeholder
                                i.icon-check
                            input.form-input.form-control(type='text', placeholder=".icon-check", readonly)
                        li.col-sm-3
                            .icon-placeholder
                                i.icon-chevron-down
                            input.form-input.form-control(type='text', placeholder=".icon-chevron-down", readonly)
                        li.col-sm-3
                            .icon-placeholder
                                i.icon-chevron-left
                            input.form-input.form-control(type='text', placeholder=".icon-chevron-left", readonly)
                        li.col-sm-3
                            .icon-placeholder
                                i.icon-chevron-right
                            input.form-input.form-control(type='text', placeholder=".icon-chevron-right", readonly)
                        li.col-sm-3
                            .icon-placeholder
                                i.icon-chevron-up
                            input.form-input.form-control(type='text', placeholder=".icon-chevron-up", readonly)
                        li.col-sm-3
                            .icon-placeholder
                                i.icon-close
                            input.form-input.form-control(type='text', placeholder=".icon-close", readonly)
                        li.col-sm-3
                            .icon-placeholder
                                i.icon-close-circle
                            input.form-input.form-control(type='text', placeholder=".icon-close-circle", readonly)
                        li.col-sm-3
                            .icon-placeholder
                                i.icon-info
                            input.form-input.form-control(type='text', placeholder=".icon-info", readonly)
                        li.col-sm-3
                            .icon-placeholder
                                i.icon-mail
                            input.form-input.form-control(type='text', placeholder=".icon-mail", readonly)
                        li.col-sm-3
                            .icon-placeholder
                                i.icon-minus
                            input.form-input.form-control(type='text', placeholder=".icon-minus", readonly)
                        li.col-sm-3
                            .icon-placeholder
                                i.icon-plus
                            input.form-input.form-control(type='text', placeholder=".icon-plus", readonly)
                        li.col-sm-3
                            .icon-placeholder
                                i.icon-profile
                            input.form-input.form-control(type='text', placeholder=".icon-profile", readonly)
                        li.col-sm-3
                            .icon-placeholder
                                i.icon-qantas-points
                            input.form-input.form-control(type='text', placeholder=".icon-qantas-points", readonly)
                        li.col-sm-3
                            .icon-placeholder
                                i.icon-refresh
                            input.form-input.form-control(type='text', placeholder=".icon-refresh", readonly)
                        li.col-sm-3
                            .icon-placeholder
                                i.icon-remove-circle
                            input.form-input.form-control(type='text', placeholder=".icon-remove-circle", readonly)
                        li.col-sm-3
                            .icon-placeholder
                                i.icon-switch
                            input.form-input.form-control(type='text', placeholder=".icon-switch", readonly)
                        li.col-sm-3
                            .icon-placeholder
                                i.icon-warning
                            input.form-input.form-control(type='text', placeholder=".icon-warning", readonly)
                        li.col-sm-3
                            .icon-placeholder
                                i.icon-arrow-down
                            input.form-input.form-control(type='text', placeholder=".icon-arrow-down", readonly)
                        li.col-sm-3
                            .icon-placeholder
                                i.icon-arrow-external
                            input.form-input.form-control(type='text', placeholder=".icon-arrow-external", readonly)
                        li.col-sm-3
                            .icon-placeholder
                                i.icon-arrow-right
                            input.form-input.form-control(type='text', placeholder=".icon-arrow-right", readonly)
                        li.col-sm-3
                            .icon-placeholder
                                i.icon-arrow-up
                            input.form-input.form-control(type='text', placeholder=".icon-arrow-up", readonly)
                        li.col-sm-3
                            .icon-placeholder
                                i.icon-arrow-back
                            input.form-input.form-control(type='text', placeholder=".icon-arrow-back", readonly)

