h1#links.category-head Links
section.row
    article.col-sm-4
        .row
            .col-xs-12.col-sm-10
                h4.no-top-margin-xs Body copy
    article.col-sm-8
        div
            .code-source-wrapper
                .module
                    a.link.link-default(href='#') Normal
section.row
    article.col-sm-4
        .row
            .col-xs-12.col-sm-10
                h4.no-top-margin-xs Article - internal
    article.col-sm-8
        div
            .code-source-wrapper
                .module
                    a.link.link-internal(href='#') Normal
                        i.icon-arrow-right
section.row
    article.col-sm-4
        .row
            .col-xs-12.col-sm-10
                h4.no-top-margin-xs Article - external
    article.col-sm-8
        div
            .code-source-wrapper
                .module
                    a.link.link-external(href='#') Normal
                        i.icon-arrow-external
section.row
    article.col-sm-4
        .row
            .col-xs-12.col-sm-10
                h4.no-top-margin-xs Anchor links
    article.col-sm-8
        div
            .code-source-wrapper
                .module
                    a.link.link-anchor(href='#') Anchor link
                        i.icon-arrow-down
section.row
    article.col-sm-4
        .row
            .col-xs-12.col-sm-10
                h4.no-top-margin-xs Back to top links
    article.col-sm-8
        div
            .code-source-wrapper
                .module
                    a.link.link-top(href='#') Back to top
                        i.icon-arrow-up
section.row
    article.col-sm-4
        .row
            .col-xs-12.col-sm-10
                h4.no-top-margin-xs Back to section link
    article.col-sm-8
        div
            .code-source-wrapper
                .module
                    a.link.link-back(href='#')
                        i.icon-arrow-back
                        | Back to section link
section.row
    article.col-sm-4
        .row
            .col-xs-12.col-sm-10
                h4.no-top-margin-xs Back to section link
    article.col-sm-8
        div
            .code-source-wrapper
                .module
                    a.link.link-add(href='#')
                        i.icon-add-circle
                        | Add another

section.row
    article.col-sm-4
        .row
            .col-xs-12.col-sm-10
                h4.no-top-margin-xs Sibling navigation
    article.col-sm-8
        div
            .code-source-wrapper
                .module
                    nav.nav.nav-pills.nav-stacked.nav-sibling
                        a.nav-link.active(href='#') Active
                        a.nav-link(href='#') Link
                        a.nav-link(href='#') Link
