h1#lists.category-head Basic Lists
section.row
    .col-sm-4
        .row
            .col-xs-12.col-sm-10
                h4.no-top-margin-xs Unordered List
                p.elegant.top-margin3-xs A list of items in which the order does not explicitly matter.
                .row.top-margin5-xs
                    .col-xs-6
                        p.text-info Base classes
                        ul.list-unstyled
                            li
                                code.classes list-unstyled
                            li
                                code.classes list-inline
                            li
                                code.classes dl-horizontal
                            li
                                code.classes list-justified
                    .col-xs-6
                        p.text-info Modifier classes
                        ul.list-unstyled
                            li
                                small - none -
    .col-sm-8
        .code-source-wrapper
            #code-example-13-source.module.js-code-example.code-example-source
                ul
                    li Unordered list item 1
                    li Unordered list item 2
                    li Unordered list item 3
                    li
                        | Unordered list item 4
                        ul
                            li Nested list item 1
                            li Nested list item 2
                            li Nested list item 3
                    li Unordered list item 5
                    li Unordered list item 6
section.row
    .col-sm-4
        .row
            .col-xs-12.col-sm-10
                h4.no-top-margin-xs Ordered List
                p.elegant.top-margin3-xs A list of items in which the order does explicitly matter.
    .col-sm-8
        .code-source-wrapper
            #code-example-14-source.module.js-code-example.code-example-source
                ol
                    li Ordered list item 1
                    li Ordered list item 2
                    li Ordered list item 3
                    li Ordered list item 4
section.row
    .col-sm-4
        .row
            .col-xs-12.col-sm-10
                h4.no-top-margin-xs Unstyled List
                p.elegant.top-margin3-xs
                    | Remove the default list-style and left margin on list items (immediate children only).
    .col-sm-8
        .code-source-wrapper
            #code-example-15-source.module.js-code-example.code-example-source
                ul.list-unstyled
                    li Unordered list item 1
                    li Unordered list item 2
                    li Unordered list item 3
                    li Unordered list item 4
section.row
    .col-sm-4
        .row
            .col-xs-12.col-sm-10
                h4.no-top-margin-xs Definition list
                p.elegant.top-margin3-xs A list of terms with their associated descriptions.
    .col-sm-8
        .code-source-wrapper
            #code-example-18-source.module.js-code-example.code-example-source
                dl
                    dt Coffee
                    dd Made from beans
                    dt Tea
                    dd Made from leafs
                    dt Beer
                    dd Made from barley, hops and yeast
                    dt Wine
                    dd Made from grapes