.sidebar
    .sidebar-wrapper
        .logo
            a(href='/')
                img(src='img/logo_qantas.svg')
        ul.sidebar-nav-list.list-unstyled(role="tablist" aria-multiselectable="true")
            li
                h2(data-toggle="collapse" data-parent=".sidebar-nav-list" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne") Brand
                div.collapse#collapseOne(role="tabpanel" aria-labelledby="itemOne")
                    a(href='#Colours') Colours
                    a(href='#Fonts') Fonts
            li
                h2(data-toggle="collapse" data-parent=".sidebar-nav-list" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo") CSS
                div.collapse#collapseTwo(role="tabpanel" aria-labelledby="itemTwo")
                    a(href='#Grid') Grid
                    a(href='#Icons') Icons
                    a(href='#typography') Typography
                    a(href='#links') Links
                    a(href='#buttons') Buttons
                    a(href='#forms') Forms
            li
                h2(data-toggle="collapse" data-parent=".sidebar-nav-list" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree") Components
                div.collapse#collapseThree(role="tabpanel" aria-labelledby="itemThree")
                    a(href='#alerts') Alerts
                    a(href='#modals') Modals
                    a(href='#accordion') Accordion
                    a(href='#tabs') Tabs
                    a(href='#cards') Cards
                    a(href='#stepNav') Step navigation
                    a(href='#QMoneyHeader') Q money header
                    a(href='#pageActions') Page actions
                    a(href='#needHelpCallout') Need help callout
                    a(href='#contentPanel') Content Panel
                    a(href='#checkingInfoBenefits') Checking information benefits
                    a(href='#spinner') Spinner
                    a(href='#Tables') Tables
                    a(href='#contentElements') Content elements
            li
                h2(data-toggle="collapse" data-parent=".sidebar-nav-list" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour") Templates
                div.collapse#collapseFour(role="tabpanel" aria-labelledby="itemFour")
                    //a(href='template-a.html', target='_blank') Qantas Money Voyager
                    //a(href='template-b.html', target='_blank') Qantas Homepage


.cover


