header#pageheader.qmoney-header(role='banner')
    .progress.hidden-xs-down
        .progress-bar.w-75(role='progressbar', aria-valuenow='33', aria-valuemin='0', aria-valuemax='100', style='width: 33%')
    button.qmoney-openMenu.hidden-md-up.menu-button
        .icon-menu
    a.brand.brand-qmoney(href='/', role='logo') Qantas Money
    div.reference-num.hidden-xs-down
        i.icon-application
        span.label
            strong Application ref:
            |  12345678

