h1#QMoneyHeader.category-head Qantas Money header

section.row
    article.col-xs-12
        .module.module-raised
            header.qmoney-header.example
                .progress.hidden-xs-down
                    .progress-bar.w-75(role='progressbar', aria-valuenow='33', aria-valuemin='0', aria-valuemax='100', style='width: 33%')

                button.qmoney-openMenu.hidden-sm-up.menu-button
                    .icon-menu
                a.brand.brand-qmoney(href='/', role='logo') Qantas Money
                div.reference-num.hidden-xs-down
                    i.icon-application
                    span.label
                        strong Application ref:
                        |  12345678

