// REGION SELECTOR
.region-selector-wrapper.parbase.region-selector
    nav.region-selector-content
        ol
            li
                a(tabindex='0', href='/ar/en.html', data-lang='en-AR') Argentina (English)
            li
                a(tabindex='0', href='/ar/es.html', data-lang='es-AR') Argentina (espa&ntilde;ol)
            li.selected
                span(tabindex='0') Australia (English)
            li
                a(tabindex='0', href='/at/en.html', data-lang='en-AT') Austria (English)
            li
                a(tabindex='0', href='/be/en.html', data-lang='en-BE') Belgium (English)
            li
                a(tabindex='0', href='/br/en.html', data-lang='en-BR') Brazil (English)
            li
                a(tabindex='0', href='/ca/en.html', data-lang='en-CA') Canada (English)
            li
                a(tabindex='0', href='/cl/en.html', data-lang='en-CL') Chile (English)
            li
                a(tabindex='0', href='/cl/es.html', data-lang='es-CL') Chile (espa&ntilde;ol)
            li
                a(tabindex='0', href='/cn/en.html', data-lang='en-CN') China (English)
            li
                a(tabindex='0', href='/cn/zh_CN.html', data-lang='zh-CN') &#x4E2D;&#x56FD; (&#x4E2D;&#x6587;)
            li
                a(tabindex='0', href='/fj/en.html', data-lang='en-FJ') Fiji (English)
            li
                a(tabindex='0', href='/fi/en.html', data-lang='en-FI') Finland (English)
            li
                a(tabindex='0', href='/fr/en.html', data-lang='en-FR') France (English)
            li
                a(tabindex='0', href='/fr/fr.html', data-lang='fr-FR') France (fran&ccedil;ais)
            li
                a(tabindex='0', href='/pf/en.html', data-lang='en-PF') French Polynesia (English)
            li
                a(tabindex='0', href='/de/en.html', data-lang='en-DE') Germany (English)
            li
                a(tabindex='0', href='/de/de.html', data-lang='de-DE') Deutschland (Deutsch)
            li
                a(tabindex='0', href='/hk/en.html', data-lang='en-HK') Hong Kong (English)
            li
                a(tabindex='0', href='/hk/zh_TW.html', data-lang='zh-HK') &#x9999;&#x6E2F; (&#x4E2D;&#x6587;)
            li
                a(tabindex='0', href='/in/en.html', data-lang='en-IN') India (English)
            li
                a(tabindex='0', href='/id/en.html', data-lang='en-ID') Indonesia (English)
            li
                a(tabindex='0', href='/ie/en.html', data-lang='en-IE') Ireland (English)
            li
                a(tabindex='0', href='/it/en.html', data-lang='en-IT') Italy (English)
            li
                a(tabindex='0', href='/jp/en.html', data-lang='en-JP') Japan (English)
            li
                a(tabindex='0', href='/jp/ja.html', data-lang='ja-JP') &#x65E5;&#x672C; (&#x65E5;&#x672C;&#x8A9E;)
            li
                a(tabindex='0', href='/mx/en.html', data-lang='en-MX') Mexico (English)
            li
                a(tabindex='0', href='/mx/es.html', data-lang='es-MX') M&eacute;xico (espa&ntilde;ol)
            li
                a(tabindex='0', href='/nl/en.html', data-lang='en-NL') Netherlands (English)
            li
                a(tabindex='0', href='/nc/en.html', data-lang='en-NC') New Caledonia (English)
            li
                a(tabindex='0', href='/nz/en.html', data-lang='en-NZ') New Zealand (English)
            li
                a(tabindex='0', href='/pg/en.html', data-lang='en-PG') Papua New Guinea (English)
            li
                a(tabindex='0', href='/ph/en.html', data-lang='en-PH') Philippines (English)
            li
                a(tabindex='0', href='/sg/en.html', data-lang='en-SG') Singapore (English)
            li
                a(tabindex='0', href='/za/en.html', data-lang='en-ZA') South Africa (English)
            li
                a(tabindex='0', href='/kr/en.html', data-lang='en-KR') South Korea (English)
            li
                a(tabindex='0', href='/es/en.html', data-lang='en-ES') Spain (English)
            li
                a(tabindex='0', href='/ch/en.html', data-lang='en-CH') Switzerland (English)
            li
                a(tabindex='0', href='/tw/en.html', data-lang='en-TW') Taiwan (English)
            li
                a(tabindex='0', href='/tw/zh_TW.html', data-lang='zh-TW') &#x53F0;&#x7063; (&#x4E2D;&#x6587;)
            li
                a(tabindex='0', href='/th/en.html', data-lang='en-TH') Thailand (English)
            li
                a(tabindex='0', href='/ae/en.html', data-lang='en-AE') United Arab Emirates (English)
            li
                a(tabindex='0', href='/gb/en.html', data-lang='en-GB') United Kingdom (English)
            li
                a(tabindex='0', href='/us/en.html', data-lang='en-US') United States (English)
            li
                a(tabindex='0', href='/vu/en.html', data-lang='en-VU') Vanuatu (English)
            li
                a(tabindex='0', href='/vn/en.html', data-lang='en-VN') Vietnam (English)
        span.region-selector-close-btn(aria-label='toggle region selector', role='button', tabindex='0')

