section.see-also-panel.bg-faded
    .container
        .row
            .col-xs-12.m-t-3
                h3.text-xs-center.m-b-3 Explore further
        .row
            .col-xs-4.m-b-3
                a.btn.btn-group-link.btn-block(href='') Flight status
                    i.icon-arrow-right
                a.btn.btn-group-link.btn-block(href='') Travel updates
                    i.icon-arrow-right
            .col-xs-4.m-b-3
                a.btn.btn-group-link.btn-block(href='') Flight status
                    i.icon-arrow-right
                a.btn.btn-group-link.btn-block(href='') Travel updates
                    i.icon-arrow-right
            .col-xs-4.m-b-3
                a.btn.btn-group-link.btn-block(href='') Flight status
                    i.icon-arrow-right
                a.btn.btn-group-link.btn-block(href='') Travel updates
                    i.icon-arrow-right
