h1#stepNav.category-head Step navigation

section.row
    article.col-sm-4
        .row
            .col-xs-12.col-sm-10
                h4.no-top-margin-xs Basic example
    article.col-sm-8
        div
            .code-source-wrapper
                .module
                    .row
                        .col-xs-6
                            ol.nav.multi-steps
                                li.nav-item.current
                                    .section-title
                                        | Personal details
                                    ul.section-steps
                                        li.complete About you
                                        li.complete Contact details
                                        li.current Address
                                        li.incomplete Living situation
                                        li.incomplete Your ID and security
                                li.nav-item.incomplete
                                    .section-title
                                        | Financial details
                                li.nav-item.incomplete
                                    .section-title
                                        | Card preferences
                                li.nav-item.incomplete
                                    .section-title
                                        | Next steps
                        .col-xs-6
                            ol.nav.multi-steps
                                li.nav-item.complete
                                    .section-title
                                        | Personal details
                                li.nav-item.current
                                    .section-title
                                        | Financial details
                                    ul.section-steps
                                        li.current Income
                                        li.incomplete Employment
                                        li.incomplete Expenses
                                        li.incomplete Financial commitments
                                li.nav-item.incomplete
                                    .section-title
                                        | Card preferences
                                li.nav-item.incomplete
                                    .section-title
                                        | Next steps
