h1#Tables.category-head Tables
section.row
    .col-sm-2
        .row
            .col-xs-12.col-sm-10
                h4.no-top-margin-xs Table style (Jupiter version)
    .col-sm-10
        .code-source-wrapper
            .module
                table.table.table-striped.table-hover
                    caption.hidden-xs-up
                        | Table caption this table width is:
                    thead
                        tr
                            th Date
                            th Description
                            th.text-xs-right Qantas Points
                            th.text-xs-right Status
                    tbody
                        tr
                            td Tue 3 May 2016
                            td Qantas & Jetstar any seat award 1 adt ref 5P5FJT
                            td.text-xs-right - 10,000
                            td.text-xs-right 0
                        tr
                            td.strong Sun 1 May 2016
                            td.strong Opening balance for May
                            td.strong.text-xs-right 100,010,000
                            td.strong.text-xs-right -
                        tr
                            td.strong Sat 20 Apr 2016
                            td.strong Closing balance for April
                            td.strong.text-xs-right 100,010,000
                            td.strong.text-xs-right -
                        tr
                            td Thu 28 Apr 2016
                            td Avis AU cars rdmptn red-51B497 28APR16
                            td.text-xs-right -10,000
                            td.text-xs-right 0
section.row
    .col-sm-2
        .row
            .col-xs-12.col-sm-10
                h4.no-top-margin-xs Table style - Grey (Default)
    .col-sm-10
        .code-source-wrapper
            .module
                table.table.table-hover.table-grey
                    caption.hidden-xs-up
                        | Table caption
                    thead
                        tr
                            th(width='25%') Column heading
                            th(width='25%') Column heading
                            th(width='25%') Column heading
                            th(width='25%') Column heading
                    tbody
                        tr
                            td Value
                            td Value
                            td Value
                            td Value
                        tr
                            td Value
                            td Value
                            td Value
                            td Value
                        tr
                            td Value
                            td Value
                            td Value
                            td Value
section.row
    .col-sm-2
        .row
            .col-xs-12.col-sm-10
                h4.no-top-margin-xs Table style - Bay Blue
    .col-sm-10
        .code-source-wrapper
            .module
                table.table.table-hover.table-bay-blue
                    caption.hidden-xs-up
                        | Table caption
                    thead
                        tr
                            th(width='25%') Column heading
                            th(width='25%') Column heading
                            th(width='25%') Column heading
                            th(width='25%') Column heading
                    tbody
                        tr
                            td Value
                            td Value
                            td Value
                            td Value
                        tr
                            td Value
                            td Value
                            td Value
                            td Value
                        tr
                            td Value
                            td Value
                            td Value
                            td Value
section.row
    .col-sm-2
        .row
            .col-xs-12.col-sm-10
                h4.no-top-margin-xs Table style - Charcoal
    .col-sm-10
        .code-source-wrapper
            .module
                table.table.table-hover.table-charcoal
                    caption.hidden-xs-up
                        | Table caption
                    thead
                        tr
                            th(width='25%') Column heading
                            th(width='25%') Column heading
                            th(width='25%') Column heading
                            th(width='25%') Column heading
                    tbody
                        tr
                            td Value
                            td Value
                            td Value
                            td Value
                        tr
                            td Value
                            td Value
                            td Value
                            td Value
                        tr
                            td Value
                            td Value
                            td Value
                            td Value
section.row
    .col-sm-2
        .row
            .col-xs-12.col-sm-10
                h4.no-top-margin-xs Table style - Sand
    .col-sm-10
        .code-source-wrapper
            .module
                table.table.table-hover.table-sand
                    caption.hidden-xs-up
                        | Table caption
                    thead
                        tr
                            th(width='25%') Column heading
                            th(width='25%') Column heading
                            th(width='25%') Column heading
                            th(width='25%') Column heading
                    tbody
                        tr
                            td Value
                            td Value
                            td Value
                            td Value
                        tr
                            td Value
                            td Value
                            td Value
                            td Value
                        tr
                            td Value
                            td Value
                            td Value
                            td Value
section.row
    .col-sm-2
        .row
            .col-xs-12.col-sm-10
                h4.no-top-margin-xs Table - Bay Blue
    .col-sm-10
        .code-source-wrapper
            .module
                table.table.table-hover.table-bay-blue
                    tbody
                        tr
                            th(scope='row', width='30%') Income before tax
                            td(width='60%')
                                | $120,000/year
                            td(width='10%').no-l-border
                                a.link.link-default.pull-xs-right(href='#') Edit
                        tr
                            th(scope='row') Additional income
                            td
                                | $500/fortnight
                            td.no-l-border
                                a.link.link-default.pull-xs-right(href='#') Edit
                        tr
                            th(scope='row') Future income change
                            td
                                | -$100/week
                            td.no-l-border
                                a.link.link-default.pull-xs-right(href='#') Edit
                        tr
                            th(scope='row') Employment
                            td
                                | Full time
                            td.no-l-border
                                a.link.link-default.pull-xs-right(href='#') Edit
                        tr
                            th(scope='row') Industry
                            td
                                | Advertising, Media, Entertainment
                            td.no-l-border
                                a.link.link-default.pull-xs-right(href='#') Edit
                        tr
                            th(scope='row') Occupation
                            td
                                | Engineering and Building Associates
                            td.no-l-border
                                a.link.link-default.pull-xs-right(href='#') Edit
                        tr
                            th(scope='row') Employer details
                            td
                                | Qantas Loyalty
                                br
                                | 10 Bourke Road, MASCOT NSW 2020
                                br
                                | 0411 222 333
                            td.no-l-border
                                a.link.link-default.pull-xs-right(href='#') Edit
                        tr
                            th(scope='row') Time at current employer
                            td
                                | 3 years, 5 months
                            td.no-l-border
                                a.link.link-default.pull-xs-right(href='#') Edit
                        tr
                            th(scope='row') Living expenses
                            td
                                | $3,000/month
                            td.no-l-border
                                a.link.link-default.pull-xs-right(href='#') Edit
                        tr
                            th(scope='row') Credit cards
                            td
                                | $10,000 outstanding balance
                            td.no-l-border
                                a.link.link-default.pull-xs-right(href='#') Edit
                        tr
                            th(scope='row') Loans
                            td
                                | $520,800 outstanding balance
                            td.no-l-border
                                a.link.link-default.pull-xs-right(href='#') Edit
                        tr
                            th(scope='row') Loan repayments
                            td
                                | $1,800/month
                            td.no-l-border
                                a.link.link-default.pull-xs-right(href='#') Edit