h1#typography.category-head Typography
section.row
    article.col-sm-4
        .row
            .col-xs-12.col-sm-10
                h4.no-top-margin-xs Headings

    article.col-sm-8
        div
            .code-source-wrapper
                .module
                    h1 Heading one style h1
                    p.text-muted Font size 46px | Line height 54px | letter spacing -0.5px
                    hr
                    h2 Heading two style h2
                    p.text-muted Font size 32px | Line height 45px | letter spacing 0
                    hr
                    h3 Heading three style h3
                    p.text-muted Font size 26px | Line height 32px | letter spacing 0
                    hr
                    h4 Heading four style h4
                    p.text-muted Font size 18px | Line height 27px | letter spacing 0
section.row
    article.col-sm-4
        .row
            .col-xs-12.col-sm-10
                h4.no-top-margin-xs Intro large
    article.col-sm-8
        .code-source-wrapper
            .module
                p.lead Intro copy large creating good vertical rhythm in your designs comes with a lot of practice, but also a lot of theory, and sometimes maths as well.
                p.text-muted Font size 30px | Line height 45px | letter spacing 0
section.row.hidden-xs-up
    article.col-sm-4
        .row
            .col-xs-12.col-sm-10
                h4.no-top-margin-xs Intro small
    article.col-sm-8
        .code-source-wrapper
            .module
                p.lead-small
                    | Intro copy small creating good vertical rhythm in your designs comes with a lot of practice, but also a lot of theory, and sometimes maths as well.
section.row
    .col-sm-4
        .row
            .col-xs-12.col-sm-10
                h4.no-top-margin-xs Body Copy
    .col-sm-8
        .code-source-wrapper
           .module
                p Body copy creating good vertical rhythm in your designs comes with a lot of practice, but also a lot of theory, and sometimes maths as well. Creating good vertical rhythm in your designs comes with a lot of practice, but also a lot of theory, and sometimes maths as well. Creating good vertical rhythm in your designs comes with a lot of practice, but also a lot of theory, and sometimes maths as well. Creating good vertical rhythm in your designs comes with a lot of practice, but also a lot of theory, and sometimes maths as well.
                p.text-muted Font size 18px | Line height 27px | letter spacing 0
section.row
    .col-sm-4
        .row
            .col-xs-12.col-sm-10
                h4.no-top-margin-xs Description list
    .col-sm-8
        .code-source-wrapper
           .module
               dl.row
                   dt.col-sm-3 Name
                   dd.col-sm-9 Mr. John James Citizen
                   dt.col-sm-3 Mobile
                   dd.col-sm-9 0411 222 333
                   dt.col-sm-3 Email
                   dd.col-sm-9 john.citizen@emailaddress.com
                   dt.col-sm-3 Date of birth
                   dd.col-sm-9 10 Oct 1980
                   dt.col-sm-3 Nationality
                   dd.col-sm-9 Australia

section.row
    .col-sm-4
        .row
            .col-xs-12.col-sm-10
                h4.no-top-margin-xs Important information
    .col-sm-8
        .code-source-wrapper
            .module

                p.small
                    strong Domestic Carriage (no international sectors on the itinerary)
                p.note-text.asterisk Within Australia, 4 Qantas Points are earned per AU$1 spent on time and kilometre charges, excluding GST, insurance and miscellaneous charges.
                p.note-text.double-asterisk Within Australia, 4 Qantas Points are earned per AU$1 spent on time and kilometre charges, excluding GST, insurance and miscellaneous charges.

                ul.small
                    li 3 days in the case of damage to, loss or destruction of part only of an item of
                    li You must be a member of the Qantas Frequent Flyer program.
                    li To earn and redeem Qantas Points. Join online now. A joining fee may apply.
                    li Membership and Qantas Points are subject to the Qantas Frequent Flyer.
                ol.small
                    li You must be a member of the Qantas Frequent Flyer program.
                    li To earn and redeem Qantas Points. Join online now. A joining fee may apply.
                    li Membership and Qantas Points are subject to the Qantas Frequent Flyer.
                    li Program terms and conditions.
                p.text-muted Font size 14px | Line height 22px | letter spacing 0

section.row.hidden-xs-up
    .col-sm-4
        .row
            .col-xs-12.col-sm-10
                h4.no-top-margin-xs Strong
                p.elegant
                    | The strong element used for emphasising a snippet of text with a heavier font weight.
    .col-sm-8
        .code-source-wrapper
            .module
                p
                    | Im used for emphasising a snippet of text with a heavier font-weight
                    | like this
                    strong Look how strong I am
                    | and I havent even used the old b tag. Marvellous!
section.row.hidden-xs-up
    .col-sm-4
        .row
            .col-xs-12.col-sm-10
                h4.no-top-margin-xs Emphasis
                p.elegant
                    | This is used for emphasising a snippet of text. The default behaviour being italics.
    .col-sm-8
        .code-source-wrapper
            .module
                p
                    | Im used for emphasising a snippet of text with italics like this
                    em Look at me Ive been emphasised
                    | and I havent even used the old i tag.
section.row.hidden-xs-up
    .col-sm-4
        .row
            .col-xs-12.col-sm-10
                h4.no-top-margin-xs Text Alignment
                p.elegant.top-margin3-xs
                    | Align text to components with text alignment classes. text-left, text-center, text-right
                .row.top-margin5-xs
                    .col-xs-6
                        p.text-info Base classes
                        ul.list-unstyled
                            li
                                code.classes text-left
                            li
                                code.classes text-center
                            li
                                code.classes text-right
                            li
                                code.classes text-justify
                    .col-xs-6
                        p.text-info Modifier classes
                        ul.list-unstyled
                            li - none -
    .col-sm-8
        .code-source-wrapper
            .module
                p.text-left
                    strong Left aligned text.
                    br
                    | Aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sialiquam qualaboriosam, nisi olu voluptas nulla pariatur?
                hr
                p.text-center
                    strong Center aligned text.
                    br
                    | Aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sialiquam qualaboriosam, nisi olu voluptas nulla pariatur?
                hr
                p.text-right
                    strong Right aligned text.
                    br
                    | Aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sialiquam qualaboriosam, nisi olu voluptas nulla pariatur?
                hr
                p.text-justify
                    strong Justified text.
                    br
                    | Aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sialiquam qualaboriosam, nisi olu voluptas nulla pariatur?
section.row.hidden-xs-up
    .col-sm-4
        .row
            .col-xs-12.col-sm-10
                h4.no-top-margin-xs Text Colour Emphasis
                p.elegant.top-margin3-xs Convey meaning through colour with these emphasis utility classes.
                .row.top-margin5-xs
                    .col-xs-6
                        p.text-info Base classes
                        ul.list-unstyled
                            li
                                code.classes text-muted
                            li
                                code.classes text-primary
                            li
                                code.classes text-danger
                            li
                                code.classes text-info
                            li
                                code.classes text-warning
                    .col-xs-6
                        p.text-info Modifier classes
                        ul.list-unstyled
                            li - none -
    .col-sm-8
        .code-source-wrapper
            .module
                p.text-muted
                    | Im text-muted. Im accessible on white but always check.
                p.text-primary
                    | Im text-primary. Im super accessible. Im all about being seen.
                p.text-success
                    | Im text-success. Im accessible.
                p.text-danger
                    | Im text-danger. Im accessible too
                p.text-info
                    | Im text-info. Im accessible. Please dont use me for anything else.
                p.text-warning
                    | Im text-warning. Im accessible. Dont use me for anything else either.
section.row.hidden-xs-up
    .col-sm-4
        .row
            .col-xs-12.col-sm-10
                h4.no-top-margin-xs Abbreviations
                p.elegant.top-margin3-xs
                    | This is for abbreviations and acronyms to show the expanded version on hover. Abbreviations with a title attribute have a light dotted bottom border and a help cursor on hover, providing additional context on hover.
    .col-sm-8
        .code-source-wrapper
            .module
                p
                    | Basic abbreviation: An abbreviation of the word attribute is
                    abbr(title='attribute') attr
                p
                    | Using the initialism class to make the text slightly smaller.
                    abbr.initialism(title='HyperText Markup Language') HTML is the best thing since sliced bread
section.row
    .col-sm-4
        .row
            .col-xs-12.col-sm-10
                h4.no-top-margin-xs Blockquotes
    .col-sm-8
        .code-source-wrapper
            .module.clearfix
                blockquote
                    p
                        | If you think good design is expensive, you should look at the cost of bad design.
                    small
                        | Ralf Speth
                blockquote.pull-right
                    p Good design is as little design as possible.
                    small
                        | Dieter Rams
section.row
    .col-sm-4
        .row
            .col-xs-12.col-sm-10
                h4.no-top-margin-xs Links within paragraph
    .col-sm-8
        .code-source-wrapper
            .module
                p
                | Im body text with an inline link or anchor
                a(href='#url') Im an inline text link click me.
                | Please note: It was recommended that text links be aubergine
                | however I would recommend red as the aubergine text links are not easy
                | to see when they are place in blocks of body text.